---
layout: layouts/kategori.njk
collectionName: "pusat-data"
permalink: /pusat-data/
pagination:
  data: collections.pusatData
  size: 16
  alias: items
---

{# Kategori.njk will handle the header and the grid of items #}
