---
layout: layouts/kategori.njk
title: "Keberlanjutan"
description: "Solusi adaptasi dan mitigasi perubahan iklim - dari energi terbarukan, restorasi ekosistem, hingga keuangan hijau dan komitmen net-zero."
collectionName: "keberlanjutan"
subtopik: ["ESG", "Karbon", "Net-Zero", "Keuangan Hijau"]
permalink: /keberlanjutan/
pagination:
  data: collections.keberlanjutan
  size: 16
  alias: articles
---
