---
layout: layouts/kategori.njk
title: "Iklim"
description: "Memahami dinamika iklim global dan dampaknya terhadap Indonesia - dari fenomena ENSO, IOD, marine heatwave, hingga perubahan iklim jangka panjang."
collectionName: "iklim"
subtopik: ["Perubahan Iklim", "ENSO", "IOD", "Gelombang Panas Laut", "Kejadian Ekstrem"]
permalink: /iklim/
pagination:
  data: collections.iklim
  size: 16
  alias: articles
---
