---
permalink: /search.json
eleventyExcludeFromCollections: true
---
[
  {% for item in collections.semuaArtikel %}
  {
    "title": {{ item.data.title | dump | safe }},
    "url": "{{ item.url }}",
    "description": {{ item.data.description | default("") | dump | safe }},
    "category": "{{ item.data.category | default('') }}",
    "date": "{{ item.date | tanggalBaca }}",
    "tags": [{% for tag in item.data.tags %}"{{ tag }}"{% if not loop.last %},{% endif %}{% endfor %}]
  }{% if not loop.last %},{% endif %}
  {% endfor %}
]
